body {
  background: #a7bde3;
  background-image: url("../img/pattern.webp");
  color: white;
  font-size: 21px;
}

h1 {
  font-size: 70px;
  color: #3747b3;
}

p {
  color: #2f4c5c;
}

/* This is the CSS box model */
/*
  Margin
  Border
  Padding
*/
.box {
  background-image: url("../img/hamster.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px;
  margin: 100px;
}