div {
  background-color: pink;
  width: 500px;
}

p {
  color: #2f4c5c;
}

.hi-light {
  background-color: yellow;
}

.accent-color {
  color: red;
}

.intro {
  font-size: 30px;
}

h1 {
  font-size: 70px;
  color: #3747b3;
}

.top-section {
  background: pink;
}

.bottom-section {
  background: green;
}