.container {
  background: pink;
  height: 50vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  
  align-content: flex-end;
}

.item {
  background: lightblue;
  margin: 0.5em;
}

.big {
  font-size: 2em;    
}